@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* shared style */
.display-flex{
    display: flex;
}
.btn-primary{
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 40px;
    border: none;
    border-radius: 12px;
}
.color-facilities{
    color: rgb(5, 212, 223);
}
.color-Admission{
    color: rgb(93, 88, 239);
}
.color-blue{
    color: rgb(1, 172, 253);
}
.color-yellow{
    color: rgb(254, 163, 1);
}
.bg-yellow{
    background-color: rgb(254, 163, 1);
}
.bg-black{
    background-color: rgb(17, 17, 17);
}
.text-white{
    color: white;
}

.title{
    font-weight: 700;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    text-align: center;
}

/* navbar related style */
.navbar{
    max-width: 1240px;
    margin: 10px auto;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.first-content{
    gap: 20px;
    align-items: center;
}
.nav-title{
    font-weight: 700;
    font-size: 2rem;
    color: rgb(17, 17, 17);
}
.nav-links{
    gap: 20px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-title, .second-content, .third-content{
    display: block;
}
.hambarger-content{
    display: none;
}

#hidden{
    display: none;
}

/* banner related style */
.banner{
    max-width: 1240px;
    margin: 10px auto;
    padding: 0 100px;
    justify-content: space-between;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.banner-description{
    font-weight: 400;
    font-size: 1.25rem;
    color: rgb(17, 17, 17);
    margin-bottom: 30px;
}
.banner-img{
    width: 100%;
}

/* Standard Curriculum related style */
.standard-curriculum, .our-stories{
    max-width: 1440px;
    margin: 0 auto;
    background-image: url('../assets/bg.png');
    background-repeat: repeat;
}
.standard-container{
    max-width: 1240px;
    margin: 10px auto;
    padding: 20px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.standard-contend{
    border-radius: 18px;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.first-card{
    background: linear-gradient(to bottom, rgb(222, 245, 255), rgba(255, 255, 255, 0),rgb(255, 255, 255));
}
.second-card{
    background: linear-gradient(to bottom, rgb(255, 244, 220), rgba(255, 255, 255, 0.253),rgb(255, 255, 255));
}
.third-card{
    background: linear-gradient(to bottom, rgb(238, 225, 255), rgba(255, 255, 255, 0.493),rgb(255, 255, 255));
}
.card-title{
    font-weight: 700;
    font-size: 1.5rem;
    color: rgb(32, 32, 32);
    margin-bottom: 10px;
}
.card-description{
    font-weight: 500;
    font-size: 1rem;
    color: rgb(128, 128, 128);
}
.standard-btn{
    font-weight: 700;
    font-size: 1rem;
}
.read-blue{
    color: rgb(100, 200, 255);
}
.read-yellow{
    color: rgb(240, 170, 0);
}
.read-purple{
    color: rgb(135, 0, 255);
}

.ball-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.ball{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:rgb(254, 163, 1);
}
.right-1{
    font-size: 1.5rem;
    margin-top: 17px;
    margin-left: 18px;
    color: white;
}
.right-2{
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: 18px;
    rotate: 180deg;
    color: white;
}
/* marquee-text related style */
.marquee-text{
    font-weight: 600;
    font-size: 2rem;
    background-color: purple;
    color: white;
    padding: 20px 0px;
}

/*  Our Stories related style */
.our-stories {
    background-image: url('../assets/bg.png'), linear-gradient(to top, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.795));
    background-repeat: repeat;
}
.card-container{
    max-width: 1240px;
    margin: 10px auto;
    padding: 20px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.card-big{
    border-radius: 16px;
    background-color: white;
}
.card-big-title{
    text-align: center;
    margin: 50px;
}
.card-img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.card-text{
    font-weight: 700;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 50px;
}
.card{
    border-radius: 16px;
    background-color: white;
}
.btn-view-all{
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}

.btn-time{
    position: relative;
    margin-top: -30px;
    padding-left: 40px;
}
.btn-round{
    padding: 20px 40px;
    border-radius: 50px;
    border: none;
}
.btn-1{
    background: rgb(60, 216, 232);
}
.btn-2{
    background: rgb(149, 178, 38);
}
.btn-3{
    background: rgb(93, 88, 240);
}
.btn-4{
    background: purple;
}
.btn-5{
    background: tomato;
}

/*  footer related style */
footer{
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(1, 172, 253);
}
.footer-section{
    max-width: 1240px;
    margin: 0px 100px;
    padding: 80px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.img-title{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-img{
    background-color: white;
    height: 100%;
}
.footer-title{
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}
.footer-sub-title{
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}
.footer-description{
    color: white;
    font-weight: 400;
    font-size: 1.25rem;
}
.footer-items{
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-item{
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
}
.footer-2{
    padding: 0px 100px;
}


/* responsive for mobile device */
@media screen and (max-width: 576px) {
    .navbar{
        padding: 20px 50px;
    }
    #hidden{
        display: block;
        border: 1px solid rgb(254, 163, 1);
    }
    .banner{
        margin: 0;
        padding: 0px;
        flex-direction: column-reverse;
    }
    .img-content{
        padding: 20px;
    }
    .banner-content{
        padding: 20px;
        text-align: center;
    }
    .nav-title, .second-content, .third-content{
        display: none;
    }
    .hambarger-content{
        display: block;
        font-size: 1.5rem;
    }
    .standard-container{
        margin: 0;
        padding: 20px;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .ball-container, .card-big{
        display: none;
    }
    .card-container{
        margin: 1;
        padding: 20px;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .btn-time{
        padding-left: 10px;
        margin-top: -22px;
    }
    .btn-round{
        padding: 10px;
        border-radius: 50px;
        border: none;
    }
    .card-text{
        font-weight: 700;
        font-size: 0.5rem;
        color: rgb(0, 0, 0);
        text-align: center;
    }
    .btn-view-all{
        padding: 30px;
    }
    .footer-section{
        margin: 0;
        padding: 20px;
        /* grid-template-columns: 1fr; */
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}